
@font-face {
  font-family: "Helvetica-Italic";
  src:	url('../fonts/HelveticaNeueCyr-LightItalic/HelveticaNeueCyr-LightItalic.ttf')  format('truetype');
		url('../fonts/HelveticaNeueCyr-LightItalic/HelveticaNeueCyr-LightItalic.eot') format('embedded-opentype');
		  url('../fonts/HelveticaNeueCyr-LightItalic/HelveticaNeueCyr-LightItalic.svg#HelveticaNeueCyr-LightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica-Light";
  src:  url('../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.ttf')  format('truetype');
        url('../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.eot') format('embedded-opentype');
          url('../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.svg#HelveticaNeueCyr-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Reforma";
  src:	url('../fonts/reforma/ReformaGroteskDemiC.ttf')  format('truetype');
		url('../fonts/reforma/ReformaGroteskDemiC.eot') format('embedded-opentype');
		  url('../fonts/reforma/ReformaGroteskDemiC.svg#CenturyGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* font-family: "PTSansRegular"; */
@font-face {
    font-family: "PTSansRegular";
    src: url("../fonts/PTSansRegular/PTSansRegular.eot");
    src: url("../fonts/PTSansRegular/PTSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"),
    url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PTSansBold"; */
@font-face {
    font-family: "PTSansBold";
    src: url("../fonts/PTSansBold/PTSansBold.eot");
    src: url("../fonts/PTSansBold/PTSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansBold/PTSansBold.woff") format("woff"),
    url("../fonts/PTSansBold/PTSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
.top_line {
    height: 32px;
    background: #393939;
    /* box-shadow: 0px 0px 3px 2px rgb(0, 0, 0); */
}
.logo {
    display: block;
    overflow: hidden;
    font-family: "PTSansRegular";
    color: #ab6500;
    font-size: 11px;
    margin: 25px auto;
    width: 389px;
    text-align: left;
}
.logo img {
    float: left;
}

.head {
    text-align: center;
    box-shadow: 0 6px 6px -6px #656565;
    padding-bottom: 10px;
    margin-bottom: 3px;
}
.top_menu {
    display: inline-block;
    /* margin: 0 auto; */
    /* overflow: hidden; */
}
.top_menu_item {
    float: left;
    padding: 7px 18px;
    text-align: left;
}
.top_menu_item a {
    color: #000;
    display: block;
    font-size: 18px;
    font-family: "Helvetica-Light";
}
.top_menu_item span {
    color: #858585;
    font-family: "Helvetica-Italic";
    font-size: 14.5px;
}
.top_menu_item:hover {
    background-color: #313131;
}
.top_menu_item:hover a {
    color: #fff;
    text-decoration:underline;
}

.top_menu_item span {
    color: #858585;
    font-family: "Helvetica-Italic";
    font-size: 11.5px;
}
.top_menu_item.active a {
    color: #fff;
}
.top_menu_item.active {
    background-color: #313131; 
}
/*news */
.container {
    overflow: hidden;
}
.content {
    float: left;
    width: 647px;
}
.news_item {
    width: 647px;
    margin-bottom: 20px;
}
.date {
    font-family: "Helvetica-Italic";
    color: #000000;
    font-size: 15px;
    margin-bottom: 10px;
}
.news_item_img {
    width: 100%;
    height: 517px;
    position: relative;
    overflow: hidden;
    z-index: 5;
    /* margin-bottom: 10px; */
    text-align: center;
    vertical-align: middle;
}
.news_item_img img {
    width: 100%;
}
.news_item_img img:hover {
    opacity: 0.7;
}
.news_item_img_shadow {
    width: 100%;
    box-shadow: inset 0 -150px 118px -77px #FFFFFF;
    position: absolute;
    bottom: 0px;
    z-index: 55;
    /* padding-top: 97px; */
    height: 146px;
    overflow: hidden;
    font-family: "Helvetica-Italic";
    font-size: 18px;
    /* line-height: 203px; */
    /* vertical-align: bottom; */
    text-align: left;
    /* padding-left: 14px; */
}

.news_item_title a {
    font-family: "Helvetica-Italic";
    font-size: 18px;
    color: #000;
    margin-bottom: 10px;
    display: block;
    text-indent: 10px;
}
.news_item_title a:hover{
    text-decoration:underline;
}
.news_item_des p {
    font-family: "Helvetica-Italic";
    color: #000000;
    font-size: 15px;
    line-height: 17px;
}
/*news end*/
.side_bar_container {
    position: relative;
}
.side_bar {
    width: 326px;
    float: right;
}
.sider_bar_zhurnal {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 320px;
    margin: 0 auto 20px;
}
.sider_bar_item {
    margin-bottom: 20px;
}
.sider_bar_item_img:hover {
    opacity: 0.7;
}
.side_bar_video {
    margin-bottom: 20px;
}
.side_bar_title {
    font-family: "Helvetica-Italic";
    font-size: 14px;
    color: #4c4c4c;
    margin-top: 8px;
    margin-bottom: 6px;
}
.side_bar_title a {
    color: #4c4c4c;
}
.side_bar_title a:hover {
    text-decoration: underline;
}
.des p {
    font-family: "Helvetica-Italic";
    font-size: 12px;
    color: #5d5c5c;
    line-height: 13px;
}
/*side bar end*/
/*partners*/
.partners {
    box-shadow: 0px -6px 6px -6px #4E4B4B;
    clear: both;
    padding-top: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    overflow: hidden;
}
.partners_title {
    font-family: "Helvetica-Italic";
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-bottom: 20px;
}
.partners_item {
    float: left;
    width: 25%;
    text-align: center;
    line-height: 68px;
}
.partners_item img {
    display: inline-block;
    vertical-align: middle;
    -webkit-filter: grayscale(70%);
    filter: grayscale(100%);
    transition: all .4s ease-in-out;
}
.partners_item:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
/*partners end*/
/*developed*/
.developed p {
    font-family: "Helvetica-Italic";
    color: #000000;
    font-size: 15px;
    text-align: right;
    margin-bottom: 20px;
}
.developed p a{
    color:#5581ff;
}
/*developed end*/
/*gallery*/
.gallery_item {
    border: 2px solid #000;
    float: left;
    width: 310px;
    overflow: hidden;
    height: 410px;
    position: relative;
    margin: 10px 29px 19px 0px;
}
.gallery_item_des {
    position: absolute;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.55);
    width: 88%;
    /* height: 70px; */
    padding: 10px 20px;
    font-family: "Helvetica-Light";
    color: #fff;
}
.gallery_item:nth-child(3n) {
    margin-right: 0px;
}
.gallery_item_title {
    margin-bottom: 10px;
    font-size: 14px;
}
.gallery_item_title a{
    color:#fff;
	
}
.gallery_item_title a:hover{
   text-decoration:underline;
}
.date_gallery {
    font-size: 12px;
}
.gallery_item.second_lvl {
    height: 305px;
}
.gallery_title {
    padding: 10px 20px;
    background-color: #000;
    display: inline-block;
    color: #fff;
    margin: 34px 0px 12px;
    text-transform: uppercase;
}
.gallery_item img {
    width: 100%;
}
/*gallery end*/
/*lang*/
.lang {
    font-family: "Helvetica-Italic";
    color: #fff;
    font-size: 12px;
    float: right;
    margin-top: 10px;
}
.lang a {
    font-family: "Helvetica-Italic";
    color: #fff;
}
.lang a:hover {
    text-decoration: underline;
}
/*lang end*/
/*model*/
.model_item_container {
    margin: 0px 29px 29px 0px;
    overflow: hidden;
    width: 314px;
    float: left;
}
.model_item_container:nth-child(3n) {
    margin-right: 0px;
}
.model_item {
    border: 2px solid #000;
    float: left;
    width: 310px;
    overflow: hidden;
    height: 410px;
    position: relative;
    margin-bottom: 20px;
}
.buttons {
    width: 137px;
    line-height: 35px;
    display: block;
    float: left;
    text-align: center;
    border: 1px solid #7a7a7a;
    font-family: "Helvetica-Italic";
    font-size: 14px;
    text-transform: lowercase;
    color: #000;
}
.more.buttons {
    float: right;
}
.buttons:hover {
    text-decoration: underline;
}
.title {
    font-family: "Helvetica-Light";
    color: #353535;
    margin: 37px 0px 21px;
}
.search_model {
    padding: 13px 15px;
    background-color: #313131;
    margin-bottom: 10px;
    overflow: hidden;
}
.search_model_input {
    font-family: "Helvetica-Light";
    color: #fff;
    font-size: 14.5px;
    float: left;
    margin-right: 19px;
}
.search_model_input label {
    margin-right: 12px;
}
.search_model_f {
    border: none;
    width: 278px;
    height: 32px;
    text-align: center;
    text-indent: 5px;
}
.search_model_f.age {
    width: 50px;
    text-indent: 0px;
}
.search_model_f.id {
    width: 70px;
}
.sear_model_button {
    background-image: url(../img/search_button.jpg);
    border: none;
    height: 34px;
    width: 210px;
}
.model_info {
    overflow: hidden;
    float: left;
    width: 655px;
}
.model_name_id {
    font-family: "Helvetica-Light";
    padding: 10px 15px;
    background-color: #313131;
    overflow: hidden;
    display: inline-block;
    font-size: 14px;
    color: #fff;
}
.model_id {
    font-size: 12px;
    margin-top: 9px;
}
.models_card {
    color: #1b1b1c;
    font-family: "Helvetica-Italic";
    font-size: 14px;
    margin-bottom: 20px;
}
.model_item img {
    width: 100%;
}
.models_card_title {
    margin-bottom: 10px;
    margin-top: 10px;

}
.tabs-box__item {
    display: none;
}
.tabs-box__item.active {
    display: block;
}

.tabs-header {
    overflow: hidden;
    display: block;
    border-bottom: 1px solid #000;
    margin-bottom: 15px;
    padding-bottom: 8px;
}
.tabs-header__title {
    float: left;
    font-family: "Helvetica-Light";
    font-size: 16px;
    line-height: 38px;
    color: #313131;
    cursor: pointer;
    text-transform: uppercase;
    margin-right: 20px;
}
.tabs-header__title::before {
    position: relative;
    display: block;
    margin: auto;
    content: "";
    float: left;
    width: 37px;
    height: 37px;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    margin-right: 10px;
}
.video:before {
    background-position: -79px 0px;
}
.tabs-header__title:hover{
     color: #f7931e;
     text-decoration:underline;
}
.tabs-header__title.active{
    color: #f7931e;
     text-decoration:underline;
}
.tabs-header__title.video:hover:before {
    background-position: -116px -1px;
}
.tabs-header__title.lookbook:hover:before {
    background-position: -38px 0px;
}
.tabs-header__title.lookbook.active:before{
     background-position: -38px 0px;
}
.tabs-header__title.video.active:before{
     background-position: -116px -1px;
}
.lookbook_item {
    width: 118px;
    height: 120px;
    border: 2px solid #000;
    float: left;
    overflow: hidden;
    margin-right: 11px;
    margin-bottom: 11px;
}
.lookbook_item:nth-child(5n) {
    margin-right: 0px;
}
.video_model_item {
    width: 324px;
    float: left;
    overflow: hidden;
    margin-right: 7px;
    margin-bottom:8px;
}
.video_model_item:nth-child(2n) {
    margin-right: 0px;
}
/*model end*/